.paginationBarContainer {
  display: flex;
  column-gap: 1rem;
}

li {
  list-style: none;
}

.paginationBarButton {
  background-color: #0b0d17;
  outline: rgba(255, 255, 255, 0.445) solid 0.5px;
  border: none;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-top: 2rem;
  font-family: var(--bellefair);
  font-size: var(--nav-text);
}
