.navbarContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
}

.hamburgerMenuButton {
  background-color: transparent;
  border: none;
  outline: none;
}
.closeMenuButton {
  position: relative;
  left: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 10%;
  align-self: center;
}
